@import url('https://fonts.googleapis.com/css2?family=Finlandica+Headline:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
header{
    background-color: rgb(171, 13, 13);
    color: aliceblue;
    padding: 1px;
    text-align: center;
}
section{
    padding: 10px;
}
h2{
    color:rgb(171, 13, 13);
}
p{
    font-size: clamp(16px, 2vw, 24px);
}
.res{
    color: rgb(115, 29, 29);
}
.rd{
    color:red;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.dela{
    display: grid;
    grid-template-columns: 200px minmax(0, 700px) 200px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}
.dela article{
    max-width: 700px;
}
.dela img{
    width: 200px;
    height: auto;
}
.lei{
    grid-column: 1;
}
.dela article{
    grid-column: 2;
}
.rii{
    grid-column: 3;
}
hr{
    border: none;
    border-top: 1px solid #ccc;
    margin: 25px 0;
}
footer{
    text-align: center;
    background-color: rgb(243, 231, 231);
    width: auto;
    min-height: 150px;
    padding: 10px;
}
@media (max-width: 700px){
    .dela{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }
    .dela article{
        grid-column: 1/3;
        grid-row: 1;
    }
    .dela .lei{
        grid-column: 1;
        grid-row: 2;
        justify-self: end;
        width: min(40vw, 180px);
    }
    .dela .rii{
        grid-column: 2;
        grid-row: 2;
        justify-self: start;
        width: min(40vw, 180px);
    }
}
